# python stuff
__pycache__/
*.py[cod]

# packaging
env/
build/
dist/
sdist/
cover/
*.egg-info/

# testing
.tox/
.coverage
.pytest_cache/

# documentation
docs/_build

# editor stuff
*~
.vscode

# environment stuff
.DS_Store
.venv
.env
.python-version
